<html>

	<head>
	</head>

	<body>

		{% if is_logged_in is not None %}
			{% if is_logged_in %}
				<div class='links'>
					<a href='{% url 'homepage' %}'>Home</a>
					<a href='{% url 'your_plants' %}'>Your plants</a>
					<a href='{% url 'your_tasks' %}'>Your tasks!</a>
					<a href='{% url 'your_rewards' %}'>Your rewards!</a>
					<a href='{% url 'rewards' %}'>Claim a reward!</a>
				</div>
			{% endif %}
		{% endif %}

		{% if name is not None and points is not None %}
			{% if name and points %}
				<h1 id='name'>Welcome back, {{name}}</h1>
			{% endif %}

			{% if points %}
				<h3 id='points'>You currently have {{points}} points.</h3>
			{% endif %}
		{% endif %}

		<div class='logout_button'>
			<a href="{% url 'logout' %}" value='Logout'>Logout</a>
		</div>
	</body>
	
</html>

