<html>
	
	<head>
		<title>About</title>

		{% load static %}
		<link rel="stylesheet" type='text/css' href="{% static 'about/css/about.css' %}">
	</head>

	<body>
		<h1>MemesGarden: The First (and fictional) Open Community Garden</h1>
		<div class="first_para">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper ligula in dui cursus, eu ullamcorper nisl finibus. Sed consequat tincidunt velit eu pellentesque. Nunc quis lorem sed metus sodales dignissim. Suspendisse ac imperdiet risus, a sollicitudin ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris accumsan libero ante, eu rhoncus nunc eleifend quis. Vivamus nunc tellus, vulputate vitae condimentum sit amet, volutpat eget turpis. Maecenas hendrerit est lorem, eu fermentum dolor pretium vitae. Maecenas id felis mi. Morbi tincidunt magna vitae dui malesuada cursus. Phasellus a risus lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tristique et libero vel placerat.
			</p>
			<img />
		</div>

		<div class="second_para">
			<img />
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula eget ipsum quis laoreet. Morbi felis purus, feugiat a urna ut, pretium cursus nulla. Phasellus eu pretium neque. Donec quam eros, eleifend non rutrum sed, posuere at quam. Mauris sodales quis neque sit amet lobortis. Nunc nulla lectus, feugiat vitae tellus dapibus, consequat porttitor massa. Integer gravida nibh ut tristique interdum. Maecenas ex magna, finibus in ultricies et, blandit vel est. Maecenas fringilla eget lorem ut sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus aliquet elit ac ipsum commodo, eget sodales velit sagittis. Aenean vulputate faucibus massa, eu pharetra ante vulputate consectetur. Phasellus egestas lectus dolor, non fringilla lectus ullamcorper vel. Duis auctor nibh et nisi viverra, nec pulvinar diam malesuada.
			</p>
		</div>

		<div class="third_para">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis massa nec ex sodales pretium. Sed consequat varius nunc, vel ullamcorper purus sollicitudin at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit luctus interdum. Cras porttitor mauris in augue vulputate, mollis blandit velit rutrum. Aliquam fringilla felis in purus aliquam, non varius lorem tristique. Vestibulum ac purus in dui tempor euismod a varius dolor. Cras consequat mollis diam tempor ultricies. In faucibus et tellus pulvinar elementum. Suspendisse potenti. Mauris ultricies lorem arcu, sed semper ligula lacinia at. Morbi fermentum eros sed lectus vehicula tristique. Nam id diam eget nibh egestas dapibus. Vestibulum gravida tempus arcu, sed laoreet sem vulputate sed. Proin tristique tortor sed enim ultricies rhoncus. Curabitur vehicula, nulla a feugiat vehicula, massa sem hendrerit lectus, a ultrices ligula ex quis ante.
			</p>
			<img />
		</div>

		<div class="fourth_para">
			<img />
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel turpis vitae enim maximus dapibus. Nunc sagittis tempus justo a malesuada. Etiam iaculis neque vel mauris pretium laoreet. Donec condimentum arcu et lectus pretium dapibus. Nam dictum purus diam, vel ullamcorper lorem maximus eu. Mauris fringilla, nisl sit amet posuere hendrerit, orci urna aliquet tellus, ultricies dapibus risus dui eu tortor. Phasellus sapien enim, ultricies sit amet nisi vel, vehicula rutrum tortor. Phasellus non lacinia sem. Pellentesque tempor, erat ultrices egestas laoreet, sem metus interdum lectus, sit amet aliquam dolor nunc eget lorem. Cras et nisl posuere, semper diam a, dapibus lorem. Fusce porta sagittis urna pharetra sodales. Quisque suscipit libero id ultrices commodo.
			</p>
			
		</div>

	</body>
</html>